body,
html {
    padding: 0px !important;
    margin: 0px;
}

#home {
    font-family: Manrope, sans-serif;
}

#home .leftHeader {
    padding-left: 11%;
}

#home .rightHeader {
    display: inline-block;
    height: 294px;
}

.col a {
    width: 100%;
}

#home #titleHeader {
    padding-right: 88px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;
}

#home #subtitleHeader {
    color: rgb(90, 91, 112);
    font-size: 18px;
    max-width: 334px;
    text-align: left;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 51px;
    margin-top: 26px;
}

#home #buttonHeader {
    color: #FFF;
    background-color: #000;
    padding: 8px 22px;
    height: 64px;
    font-size: 18px;
    min-width: 64px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: Manrope, sans-serif;
    border: 0;
    font-weight: 500;
    line-height: 1.75;
    white-space: nowrap;
    border-radius: 4px;
    text-transform: none;
    width: 49%;
}

#home #buttonHeader:hover {
    background-color: #272727;
}

#home #first {
    min-height: 100vh;
}

#home #first img {
    width: 70%;
}

#home ul {
    margin-left: auto;
}

#home ul li {
    cursor: pointer;
    font-size: 15px;
    color: #5A5B70;
    line-height: 36px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

#home .navbar {
    padding-left: 11%;
    padding-right: 11%;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 34px;
    margin-top: 15px;
}

#home .navbar #registrate {
    border-radius: 7px;
    width: 129px;
    text-align: center;
    height: 43px;
    padding-top: 3px;
    color: #FFF;
    background-color: #000;
    margin-right: 0px;
}

#step1 {
    background-color: #e5e8ef;
}

#step1 aside, #step2 aside, #step3 aside, #step4 aside {
    background: white;
    width: 31%;
    height: 100vh;
    float: right;
    flex: 1;
    display: flex;
}

#step1 #containerTypes, #step2 #containerData {
    width: 67%;
    padding-left: 16%;
    display: inline-block;
    max-height: 90vh;
    overflow: scroll;
}

#step2 #containerData,
#step3 #containerData,
#step4 #containerData{
    width: 67%;
    padding-left: 16%;
    display: inline-block;
}

#step2 #title {
    font-size: 20px;
    color: #000;
}

#step2 .containerItem,
#step3 .containerItem,
#step4 .containerItem{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 89%;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 42px;
    padding-right: 42px;
    box-shadow: -1px 2px 0 #cdd1e0;
    border-radius: 6px;
}

#step4 #loginContainer{
    display: none;
}

#step4 .buttonAction{
    width: 100%;
    background: black;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 13px;
    font-family: Manrope, sans-serif;
}

#step4 #containerData #registerContainer h3, #step4 #containerData #loginContainer h3 {
    text-align: left;
    font-family: Manrope, sans-serif;
    font-size: 20px;
}

#step4 .haveAccount{
    font-family: Manrope, sans-serif;
    font-size: 13px;
    margin-top: 15px;
}
#step4 .haveAccount span{
    color:#759DFE;
    cursor: pointer;
}

#step2 .containerItem input {
    width: 100%;
    padding: 9px;
}

#step2 .containerItem .label {
    width: 100%;
    text-align: left;
    font-size: 12px;
}

#step2 .title {
    text-align: left;
    font-size: 20px;
}

#step1 #title {
    margin-bottom: 30px;
    font-size: 20px;
    color: #000;
    margin-top: 20px;
}

#step2 #title {
    text-align: left;
    margin-left: 90px;
}

#step1 .element {
    background-color: white;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 6px #cdd1e0;
    border: 2px solid #CDD1E0;
    cursor: pointer;
    border-radius: 8px;
    padding: 20px 16px;
    margin-right: 20px;
    margin-bottom: 20px;
}

#step1 .element .title {
    color: #000;
    font-size: 16px;
}

#step1 .element p {
    color: #5A5B70;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
}

#step2,
#step3,
#step4{
    min-height: 100vh;
    background-color: #e4e7ee;
    text-align: center;
}

#step2 h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 40px;
}

#step2 p {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 200;
    margin-top: 27px;
}

#step2 .subtitle {
    font-size: 28px;
    font-weight: 500;
}

#step2 button,
#step3 button {
    color: #FFF;
    background-color: #000;
    padding: 8px 22px;
    height: 64px;
    font-size: 18px;
    font-size: 18px;
    min-width: 64px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: Manrope, sans-serif;
    border: 0;
    font-weight: 500;
    line-height: 1.75;
    white-space: nowrap;
    border-radius: 4px;
    text-transform: none;
    width: 20%;
    margin: 0 auto;
}

#step3 .subtitle {
    color: rgb(90, 91, 112);
}

#step3 {
    min-height: 100vh;
    text-align: center;
    padding-top: 40px;
}

#step4 {
    min-height: 100vh;
    background-color: #e4e7ee;
    text-align: center;
    padding-top: 40px;
}

#step3 #title {
    text-align: left;
    font-size: 20px;
    padding-left: 88px;
    margin-top: 28px;
}

#step3 .containerItem h3 {
    font-size: 20px;
    text-align: left;
}

#step3 .imgFrame{
    height: 80px;
}

#step3 #miniFrame {
    padding: 20px;
    background: #f1f1f1;
    border-radius: 6px;
}

#step3 #containerFrames {
    overflow: hidden;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#step3 #miniFrame .one {
    width: 50%;
    float: left;
    height: fit-content;
}

#step3 #miniFrame label{
    color: gray;
    text-align: left;
    width: 100%;
    padding-left: 13px;
    margin-top: 6px;
}


#step3 #miniFrame .one label {
    width: 100%;
    text-align: left;
}

#step3 #miniFrame .one input {
    display: block;
}

#step4 .containerItem .title{
    font-size: 25px;
    font-weight: 400;
}
#step4 .containerItem .subtitle{
    color:gray
}

#step4 #containerData h2{
    text-align: left;
    padding-left: 45px;
    margin-top: 23px;
    font-weight: 300;
}

#containerTipos {
    padding-left: 17%;
    padding-right: 17%;
    margin-top: 4%;
}

#containerTipos .item {
    display: inline-block;
    border: 2px solid rgb(205, 209, 224);
    padding: 16px;
    border-radius: 5px;
    width: 18%;
    margin-bottom: 17px;
}

#containerTipos .item p {
    margin-bottom: 0px;
}

#bar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    box-shadow: 0 -2px 6px 1px rgb(0 0 0 / 14%);
}

#bar .col {
    align-items: center;
    align-content: center;
    display: flex;
}

#bar .col button, #bar #next {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    padding: 14px;
    font-size: 20px;
    border-radius: 5px;
    height: 60px;
    width: 44%;
}

#step4 label{
    margin-top: 20px;
    width: 100%;
    text-align: left;
    color: #5A5B70;
}

#bar .step {
    border: 2px solid #F3F5FE;
    padding: 10px;
    border-radius: 28px;
    color: #606060;
    font-size: 13px;
    margin-right: 20px;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
}

#bar #cancelar {
    color: #000;
    border: 2px solid #CDD1E0;
    box-shadow: none;
    background-color: #FFF;
    transition: all 0.2s ease-in-out;
}

#bar #cancelar:hover {
    background-color: rgba(117, 157, 254, 0.04);
    border-color: rgb(139, 140, 165);
}

#bar #next {
    border: 2px solid #000;
    box-shadow: none;
    background: #000;
    color: white;
    transition: all 0.2s ease-in-out;
}

#bar #next:hover{
    background-color: #27272D;
}

.input{
    border: 2.5px solid #CDD1E0;
    border-radius: 6px;
    padding: 10px;
}

.width100{
    width: 100%;
}
