body,
html {
    padding: 0px !important;
    margin: 0px;
}

#home {
    font-family: Manrope, sans-serif;
}

#home .leftHeader {
    padding-left: 11%;
}

#home .rightHeader {
    display: inline-block;
    height: 294px;
}

.col a {
    width: 100%;
}

#home #titleHeader {
    padding-right: 88px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-weight: 500;
    font-size: 39px;
    line-height: 47px;
}

#home #subtitleHeader {
    color: rgb(90, 91, 112);
    font-size: 18px;
    max-width: 334px;
    text-align: left;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 51px;
    margin-top: 26px;
}

#home #buttonHeader {
    color: #FFF;
    background-color: #000;
    padding: 8px 22px;
    height: 64px;
    font-size: 18px;
    min-width: 64px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: Manrope, sans-serif;
    border: 0;
    font-weight: 500;
    line-height: 1.75;
    white-space: nowrap;
    border-radius: 4px;
    text-transform: none;
    width: 49%;
}

#home #buttonHeader:hover {
    background-color: #272727;
}

#home #first {
    min-height: 100vh;
}

#home #first img {
    width: 70%;
}

#home ul {
    margin-left: auto;
}

#home ul li {
    cursor: pointer;
    font-size: 15px;
    color: #5A5B70;
    line-height: 36px;
    transition: all 0.2s ease-in-out;
    font-weight: 500;
}

#home .navbar {
    padding-left: 11%;
    padding-right: 11%;
}

.navbar-light .navbar-nav .nav-link {
    margin-right: 34px;
    margin-top: 15px;
}

#home .navbar #registrate {
    border-radius: 7px;
    width: 129px;
    text-align: center;
    height: 43px;
    padding-top: 3px;
    color: #FFF;
    background-color: #000;
    margin-right: 0px;
}

#step1 {
    background-color: #e5e8ef;
}

#step1 aside,
#step2 aside,
#step3 aside,
#step4 aside {
    background: white;
    width: 31%;
    height: 100vh;
    float: right;
    padding-left: 20px;
    padding-right: 20px;
}

#step1 #containerTypes,
#step2 #containerData {
    width: 67%;
    padding-left: 16%;
    display: inline-block;
    max-height: 90vh;
    overflow: scroll;
}

#step2 #containerData,
#step3 #containerData,
#step4 #containerData{
    width: 67%;
    padding-left: 16%;
    display: inline-block;
}

#step4 #containerData{
    padding-left: 0;
}

#step2 #titleForm {
    font-size: 20px;
    color: #000;
    text-align: left;
    margin-left: 90px;
}

#step2 .containerItem,
#step3 .containerItem,
#step4 .containerItem ,
#step6 .containerItem,
#step5 .containerItem{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 89%;
    margin: 0 auto;
    margin-top: 20px;
    padding-left: 42px;
    padding-right: 42px;
    box-shadow: -1px 2px 0 #cdd1e0;
    border-radius: 6px;
}

#step4 #loginContainer {
    display: none;
}

#step4 .buttonAction {
    width: 100%;
    background: black;
    color: white;
    border: 0px;
    border-radius: 5px;
    padding: 13px;
    font-family: Manrope, sans-serif;
}

#step4 #containerData #registerContainer h3,
#step4 #containerData #loginContainer h3 {
    text-align: left;
    font-family: Manrope, sans-serif;
    font-size: 20px;
}

#step4 .haveAccount {
    font-family: Manrope, sans-serif;
    font-size: 13px;
    margin-top: 15px;
}

#step4 .haveAccount span {
    color: #759DFE;
    cursor: pointer;
}

#step2 .containerItem input {
    width: 100%;
    padding: 9px;
}

#step2 .containerItem .label {
    width: 100%;
    text-align: left;
    font-size: 12px;
}

#step2 .title {
    text-align: left;
    font-size: 20px;
}

#step1 #title {
    margin-bottom: 30px;
    font-size: 20px;
    color: #000;
    margin-top: 20px;
}


#step1 .element {
    background-color: white;
    display: inline-block;
    text-align: center;
    box-shadow: 0 4px 6px #cdd1e0;
    border: 2px solid #CDD1E0;
    cursor: pointer;
    border-radius: 8px;
    padding: 20px 16px;
    margin-right: 20px;
    margin-bottom: 20px;
    transition: all 0.25s ease-in-out;
}

#step1 .element.selected {
    border-color: #759DFE;
}

#step1 .element .title {
    color: #000;
    font-size: 16px;
}

#step1 .element p {
    color: #5A5B70;
    font-size: 13px;
    text-align: center;
    line-height: 18px;
}

#step2,
#step3,
#step4,
#step6,
#step5{
    min-height: 100vh;
    background-color: #e4e7ee;
    text-align: center;
}

#step2 h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    line-height: 30px;
    padding-top: 40px;
}

#step2 p {
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 200;
    margin-top: 27px;
}

#step2 .subtitle {
    font-size: 28px;
    font-weight: 500;
}

#step2 button,
#step3 button {
    color: #FFF;
    background-color: #000;
    padding: 8px 22px;
    height: 64px;
    font-size: 18px;
    font-size: 18px;
    min-width: 64px;
    box-sizing: border-box;
    transition: all 0.2s ease-in-out;
    font-family: Manrope, sans-serif;
    border: 0;
    font-weight: 500;
    line-height: 1.75;
    white-space: nowrap;
    border-radius: 4px;
    text-transform: none;
    width: 20%;
    margin: 0 auto;
}

#step3 .subtitle {
    color: rgb(90, 91, 112);
}

#step3 {
    min-height: 100vh;
    text-align: center;
    padding-top: 40px;
}

#step4 {
    min-height: 100vh;
    background-color: #e4e7ee;
    text-align: center;
    padding-top: 40px;
}

#step3 #title {
    text-align: left;
    font-size: 20px;
    padding-left: 88px;
    margin-top: 28px;
}

#step3 .containerItem h3 {
    font-size: 20px;
    text-align: left;
}

#step3 .imgFrame {
    height: 80px;
}

#step3 #miniFrame {
    padding: 20px;
    background: #f1f1f1;
    border-radius: 6px;
}

#step3 #containerFrames {
    overflow: hidden;
    height: 80px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#step3 #miniFrame .one {
    width: 50%;
    float: left;
    height: fit-content;
}

#step3 #miniFrame label {
    color: gray;
    text-align: left;
    width: 100%;
    padding-left: 13px;
    margin-top: 6px;
}

#step3 #miniFrame .one label {
    width: 100%;
    text-align: left;
}

#step3 #miniFrame .one input {
    display: block;
}

#step4 .containerItem .title {
    font-size: 25px;
    font-weight: 400;
}

#step4 .containerItem .subtitle {
    color: gray
}

#step4 #containerData h2 {
    text-align: left;
    padding-left: 45px;
    margin-top: 23px;
    font-weight: 300;
}

#containerTipos {
    padding-left: 17%;
    padding-right: 17%;
    margin-top: 4%;
}

#containerTipos .item {
    display: inline-block;
    border: 2px solid rgb(205, 209, 224);
    padding: 16px;
    border-radius: 5px;
    width: 18%;
    margin-bottom: 17px;
}

#containerTipos .item p {
    margin-bottom: 0px;
}

#bar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    bottom: 0;
    height: 80px;
    width: 100%;
    box-shadow: 0 -2px 6px 1px rgb(0 0 0 / 14%);
}

#bar .col {
    align-items: center;
    align-content: center;
    display: flex;
}

#bar .col button,
#bar .col a,
#bar #next {
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    padding: 14px;
    font-size: 20px;
    border-radius: 5px;
    height: 60px;
    width: 44%;
    text-align: center;
    text-decoration: none;
}

#step4 label {
    margin-top: 20px;
    width: 100%;
    text-align: left;
    color: #5A5B70;
}

#bar .step {
    border: 2px solid #F3F5FE;
    padding: 10px;
    border-radius: 28px;
    color: #606060;
    font-size: 13px;
    margin-right: 20px;
    padding: 15px;
    margin-top: 10px;
    cursor: pointer;
}

#bar .step.selected{
    border: 2px solid #708aff;
}

#bar .step.disabled{
    border: 0px;
    background: #f1f1f1;
    color: gray;
}

#bar #cancelar {
    color: #000;
    border: 2px solid #CDD1E0;
    box-shadow: none;
    background-color: #FFF;
    transition: all 0.2s ease-in-out;
}

#bar #cancelar:hover {
    background-color: rgba(117, 157, 254, 0.04);
    border-color: rgb(139, 140, 165);
}

#bar #next {
    border: 2px solid #000;
    box-shadow: none;
    background: #000;
    color: white;
    transition: all 0.2s ease-in-out;
}

#bar #next:hover {
    background-color: #27272D;
}

.input {
    border: 2.5px solid #CDD1E0;
    border-radius: 6px;
    padding: 10px;
}

.width100 {
    width: 100%;
}

aside h2 {
    width: 100%;
    color: #000;
    font-size: 20px;
    text-align: center;
    flex-shrink: 0;
    font-weight: 200;
    margin-top: 30px;
    margin-bottom: 30px;
}

#containerExample {
    background: #759dfe;
    height: 400px;
    width: 90%;
    border-radius: 8px;
    margin: 0 auto;
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
}

#containerExample #phone {
    background: white;
    border-radius: 32px 32px 0 0;
    border: 2px solid #E5E7EF;
    height: 100%;
    display: flex;
    position: relative;
    padding: 24px 10px 0;
    overflow: hidden;
}

#containerExample #phone #noch {
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 24px;
    display: flex;
    position: absolute;
}

#containerExample #phone #noch #camera {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #CDD1E0;
    margin-right: 10px;
}

#containerExample #phone #noch #speaker {
    width: 29px;
    height: 4px;
    border-radius: 2px;
    background-color: #CDD1E0;
}

#containerExample #phone #containerScreen {
    background: rgb(240, 241, 251);
    border-radius: 16px 16px 0 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

#containerScreen #message{
    padding-top: 57%;
    color: #759dfe;
}

.containerEnlace .delete{
    color: rgb(254, 66, 86);
    float: right;
    border: 1px solid gray;
    padding: 8px;
    border-radius: 6px;
    cursor: pointer;
}

.containerEnlace .delete svg{
    height: 22px;
}

#containerExample #phone #listOfLinks #title h3 {
    font-size: 16px;
    text-align: center;
    margin-bottom: 3px;
}

#containerExample #phone #listOfLinks #title p {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
}

#containerExample #phone #listOfLinks #imgTitle {
    border-radius: 50%;
    margin: 0 auto;
    height: 100px;
    width: 100px;
    text-align: center;
    margin-bottom: 21px;
}

#containerExample #phone #listOfLinks #links {
    padding-left: 20px;
    padding-right: 20px;
}

#containerExample #phone #listOfLinks .item {
    background: white;
    cursor: pointer;
    box-shadow: 0 4px 6px 0 #cdd1e0;
    border-radius: 4px;
    height: 30px;
    margin-bottom: 10px;
    align-items: center;
    justify-items: center;
    padding-top: 5px;
}

#containerButtons{
    background: #e3e3e3;
    border-radius: 4px;
}

#containerButtons .item{
    background: transparent;
    padding: 0px;
    width: 42px;
}
#containerButtons .item.active{
    border: 2px solid #759dfe;
    background: white;
}

#containerButtons .item svg{
    height: 38px;
}

#containerExample #phone #listOfLinks #links p {
    font-size: 13px;
    font-weight: 300;
}

#step2 #containerExample #phone #listOfLinks #links p{
    margin-top: 0;
}

#step2 #listOfLinks #title{
    padding-top: 12px;
}

#step2 .containerHourName{
    display: inline-block;
    margin-right: 46px;
}
#step2 .hourSelect{
    width: 34%;
    color: #8B8CA5;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    background: #f1f1f1;
}
#step2 .containerHourName input{
    display: inline-block;
    width: 50%;
    height: 26px;
}
#step2 .containerHourName label{
    display: inline-block;width: 50%;height: 26px;margin-top: ;
}
#step2 .hour{
    margin-bottom: 14px;
}

#step2 .titleHour{
    margin-bottom: 20px;
}

#step2 #pdf h2{
    padding-top: 0px;
    font-size: 24px;
}

#step2 #pdf p{
    padding-left: 17px;
    padding-right: 17px;
}

#step2 #containerWifi p{
    margin-top: 0px;
}
#step2 #containerWifi button{
    width: 44%;
    width: 36%;
    height: 53px;
    font-size: 12px;
}

#step2 #gallery h2{
    font-size: 17px;
}
#containerExample #phone #listOfLinks #links img {
    float: left;
}

#containerExample #phone #vcard #title h3 {
    font-size: 18px;
    margin-bottom: 11px;
}

#containerExample #phone #vcard #title p {
    font-size: 14px;
    font-weight: 300;
}

#containerExample #phone #wifi {
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 105px;
}

#containerExample #phone #wifi #containerWifi {
    background: white;
    height: 170px;
    border-radius: 6px;
    padding-top: 14px;
}

#containerExample #phone #wifi #containerWifi svg{
    width: 28px;
    margin-bottom: 10px;
}

#containerExample #phone #wifi #containerWifi p {
    padding-left: 19px;
    padding-right: 19px;
    line-height: 20px;
    font-weight: 300;
}

#containerExample #phone #wifi #containerWifi #cancelButton {
    border: 1px solid #CDD1E0;
    background: transparent;
    color: #5A5B70;
    border-radius: 5px;
    padding: 10px;
    padding-right: 13px;
    padding-left: 13px;
}

#containerExample #phone #wifi #containerWifi #acceptButton {
    border: 1px solid #CDD1E0;
    border-radius: 5px;
    padding: 10px;
    padding-right: 13px;
    padding-left: 13px;
    background: #000;
    color: white;
    border: none;
}

#containerExample #phone #vcard {
    height: 100%;
    background: white;
}

#containerExample #phone #vcard img {
    height: 100px;
    border-radius: 50%;
    border: white solid 10px;
    top: 70px;
    position: absolute;
    left: 32%;
    box-shadow: 0 4px 6px 0 #cdd1e0;
}

#containerExample #phone #vcard h3 {
    margin-top: 59px;
}

#containerExample #phone #vcard #backgroundTop {
    background: rgb(255, 188, 100);
    border-radius: 9px 9px 0px 0px;
    height: 100px;
}

#containerExample #phone #business #backgroundTop {
    background: rgb(144, 71, 34);
    height: 92px;
    border-radius: 16px 16px 0 0;
}

#containerExample #phone #business #backgroundTop h3 {
    color: white;
    font-size: 12px;
    padding-top: 13px;
}

#containerExample #phone #business #containerInfo p {
    font-size: 11px;
    color: rgb(90, 91, 112);
    font-size: 13px;
    text-align: center;
    line-height: 21px;
}

#containerExample #phone #business #containerInfo h3 {
    margin-top: 90px;
    font-size: 19px;
    font-weight: 700;
}

#containerExample #phone #business button {
    padding: 11px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    border: 1px solid #a7a5a5;
    background: transparent;
}

#containerExample #phone #business {
    background: white;
    height: 100%;
}

#containerExample #phone #business img {
    position: absolute;
    top: 71px;
    height: 115px;
    left: 52px;
    border-radius: 7px;
}

#containerExample #phone #apps {
    padding-left: 13px;
    padding-right: 13px;
}
#step2 #containerExample #phone #apps #title h3{
    margin-top: 13px;
}
#containerExample #phone #apps #title p {
    font-size: 11px;
}

#containerExample #phone #apps #title h3 {
    margin-bottom: 0px;
}

#step2 #containerExample #phone #menu #title h2{
    padding-top: 0px;
}

#step2 #containerExample #phone #menu .title{
    margin-top: 0px;
    padding-left: 2px;
}

#step2 #containerExample #phone #menu .subtitle{
    padding: 10px 0px 0px 0px;
    margin-top: -6px;
}
#step2 #containerExample #phone #menu .price{
    margin-top: 0px;
    padding-left: 0px;
}
#containerExample #phone #apps #containerInfo {
    background: white;
    height: 100vh;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 19px;
    padding-right: 19px;
}

#containerExample #phone #apps p {
    font-size: 12px;
    color: #5A5B70;
    padding-left: 10px;
    padding-right: 10px;
}

#containerExample #phone #apps button {
    padding: 5px 12px 5px 12px;
    width: 100%;
    color: white;
    background: #000;
    border-radius: 4px;
    border: 0;
    height: 41px;
    margin-bottom: 10px;
}

#containerExample #phone #pdf #title {
    background: #5a270b;
    margin-top: 0px;
    height: 204px;
    border-radius: 9px 9px 0px 0px;
}

#containerExample #phone #pdf #title #miniTitle {
    color: white;
    font-size: 12px;
    padding-top: 21px;
    font-weight: 200;
    margin-bottom: 0px;
}

#containerExample #phone #pdf {
    background: white;
    height: 100%;
}

#containerExample #phone #pdf #title h2 {
    color: white;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 9px;
}

#containerExample #phone #pdf #title p {
    font-size: 11px;
    color: white;
    font-weight: 100;
    padding-bottom: 21px;
    margin-top: 0px;
}

#containerExample #phone #menu #title {
    background: rgb(30, 29, 56);
    margin-top: 0px;
    height: 204px;
    border-radius: 9px 9px 0px 0px;
    padding-top: 30px;
}

#containerExample #phone #menu #title #miniTitle {
    color: white;
    font-size: 12px;
    padding-top: 21px;
    font-weight: 200;
    margin-bottom: 0px;
}

#containerExample #phone #menu {
    background: white;
    height: 100%;
}

#containerExample #phone #menu #title h2 {
    color: white;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 9px;
}

#containerExample #phone #menu #title p {
    font-size: 11px;
    color: white;
    font-weight: 100;
    padding-bottom: 21px;
    margin-top: 0px;
}

#containerExample #phone #menu #containerMenu {
    position: absolute;
    top: 39%;
    background: white;
    margin-left: 9px;
    margin-right: 21px;
    border-radius: 8px;
    box-shadow: 0px 4px 5px #a7a7a7;
}

#containerExample #phone #menu #containerMenu .item {
    margin-top: 16px;
    border-bottom: 1px solid #efefef;
    height: 98px;#$
}

#containerExample #phone #menu #containerMenu .item img{
    width: 30px;
    height: 30px;
    width: 60px;
    height: 60px;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}

#containerExample #phone #menu #containerMenu .info {
    align-items: flex-start;
    flex-direction: column;
    float: right;
    padding-right: 14px;
    width: 68%;
    text-align: left;
    padding-left: 11px;
}
#containerExample #phone #menu #containerMenu .info .title{
    font-size: 14px;
    margin-bottom: 1px;
    color: #000;
}

#containerExample #phone #menu #containerMenu .info .subtitle{
    color: #8B8CA5;
    font-size: 12px;
    margin-bottom: 6px;
    font-weight: 100;
    line-height: 14px;
}

#containerExample #phone #menu #containerMenu .info .price{
    color: rgb(168, 103, 21);
    font-size: 12px;
}

#containerExample #phone #video{
    background: #e18364;
    width: 100%;
    height: 100%;
    border-radius: 16px 16px 0 0;
    padding-top: 16px;
}

#containerExample #phone #video p{
    color: #FFF;
    font-size: 12px;
    margin-top: 0;
}

#containerExample #phone #video #title{
    font-size: 22px;
    padding-left: 24px;
    padding-right: 15px;
    text-align: left;
    line-height: 22px;
    margin-bottom: 8px;
}

#containerExample #phone #video #subitle{
    padding-left: 25px;
    padding-right: 50px;
    text-align: left;
}

#containerExample #phone #video img{
    width: 100%;
    height: 113px;
    margin-bottom: 18px;
}

#containerExample #phone #video button{
    border: 1px solid white;
    background: none;
    color: white;
    padding: 12px;
    border-radius: 7px;
    width: 66%;
    float: left;
    margin-left: 25px;
}

#containerExample #phone #gallery{
    border-radius: 16px 16px 0 0;
    background: rgb(34, 40, 71);
    height: 37vh;
}

#containerExample #phone #gallery #title{
 margin-top: 0px;
}

#containerExample #phone #gallery #title h2{
    margin-top: 0;
    margin-bottom: 0px;
    padding-top: 18px;
    padding-bottom: 7px;
    color: white;
    font-weight: 400;
}
#containerExample #phone #gallery #title p{
    color: white;
    font-size: 12px;
    font-weight: 100;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 10px;
}
#containerExample #phone #website #title{
    margin-top: 10px;
}
#containerExample #phone #website h3{
    font-size: 18px;
    text-align: left;
    margin-left: 14px;
    margin-top: 11px;
    margin-bottom: 0px;
}
#containerExample #phone #website #title p{
    margin-top: 6px;
    background: #cbcbcb;
    margin-left: 10px;
    margin-right: 10px;
    color: #363636;
    border-radius: 15px;
    font-size: 12px;
}

#containerExample #phone #website #subtitle{

    font-size: 12px;
    text-align: left;
    margin-left: 15px;
    margin-top: 0px;
    padding-right: 31px;

}

#containerExample #phone #website button{
    margin-bottom: 13px;
    color: white;
    border-radius: 4px;
    padding: 6px;
    width: 67%;
    background: black;
    border: 0px;
}

#containerExample #phone #website #containerWebsite{
    background: white;
    margin-right: 12px;
    margin-left: 13px;
    border-radius: 7px;
}

#containerExample #phone #website #containerWebsite img{
    width: 100%;
}

#containerExample #phone #menu h3{
color: rgb(168, 103, 21);
font-size: 16px;
line-height: 22px;
padding: 20px 24px 0px;
}

#containerExample #phone #backgroundPdf img{
    height: 290px;
    position: absolute;
    top: 169px;
    left: 41px;
    border: 5px solid white;
    border-radius: 7px;
}

#addLink {
width: 100% !important;
background: transparent;
border: 3px solid rgb(205, 209, 224);
color: black;
margin-top: 18px;
    width: 100%;
}

#addSectionMenu, .addArticleMenu{
    width: 100% !important;
    margin-top: 10px !important;
    background: white !important;
    border:1px solid gray !important;
    color: gray !important;
}
#containerProducts{
    background-color: #F3F5FE;
}
.productMenu{
    background-color: #F3F5FE;
}
#socialNetworks button {
background: transparent;
border: 1px solid #CDD1E0;
border-radius: 4px;
margin-bottom: 10px;
}

#socialNetworks button svg {
height: 40px;
}

#socialNetworks button svg {
    height: 40px;
}

#containerLinksSocialNetwork {
height: fit-content;
}

#containerLinksSocialNetwork .item {
height: 54px;
display: none;
}

#containerLinksSocialNetwork .item .logo {
float: left;
}

#containerLinksSocialNetwork .item .logo svg {
height: 30px;
}

#containerLinksSocialNetwork .item input {
width: 62%;
}

#containerLinksSocialNetwork .item .close {
    display: inline-block;
    float: right;
    height: 23px;
    width: 23px;
    cursor: pointer;
}
#containerData .containerItem .btnDesign {
    background: transparent !important;
    border: 2px solid #CDD1E0;
    width: 132px;
    border: 2px solid #CDD1E0;
    height: 52px;
    display: inline-flex;
    padding: 8px;
    transition: all 0.2s ease-in-out;
    align-items: center;
    border-radius: 8px;
    flex-direction: row;
    justify-content: center;
    background-color: #FFF;
}

#containerData .containerItem #addButton{
    width: 100%;
    margin-top: 10px;
    height: 48px;
}

#containerData .containerItem #containerButton{
    display: none;
}

#containerData .containerItem .btnDesign:not(:last-child) {
margin-right: 5px;
}

.containerItem .btnDesign span {
height: 30px;
width: 30px;
display: inline-block;
flex-shrink: 0;
border-radius: 4px;
border: 1px solid #E5E7EF;
}

.containerItem .btnDesign span:not(:first-child) {
margin-left: 10px;
}

#swatch {
background: white;
box-shadow: 1em 1em 18em rgb(0 0 0 / 10%);
display: flex;
flex-direction: column;
width: 150px;
height: 150px;
flex: 1;
border-radius: 4px;
margin-right: 10px;
}

#swatch .info {
padding: 1em;
}

#swatch h1 {
margin: 0;
text-transform: uppercase;
}

#containerStyles {
display: flex;
text-align: center;
align-items: center;
align-content: center;
margin-top: 10px;
}

#swatch h2 {
font-weight: normal;
margin: 0;
font-size: 12px;
padding: 0px;
}

#step5 .totalToPay{
    color: #5A5B70;
    font-size: 16px;
    font-weight: 600;
}

#step5 .price{
    font-size: 26px;
    text-align: center;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
}

#step5 .descriptionPlan{
    color: #5A5B70;
    font-size: 13px;
    text-align: center;
}

#step5 .buttonToPay{
    background: #272727!important;
    color: white;
    padding: 14px;
    border: 0px;
    border-radius: 8px;
    font-size: 18px;
    width: 100%;
    font-weight: 500;
}

#step5 svg{
    height: 27px;
}

input[type="color"] {
appearance: none;
-moz-appearance: none;
-webkit-appearance: none;
background: none;
border: 0;
cursor: pointer;
height: 15em;
padding: 0;
width: 15em;
}



*:focus {
border-radius: 0;
outline: none;
}

::-webkit-color-swatch-wrapper {
padding: 0;
}

::-webkit-color-swatch {
border: 0;
border-radius: 0;
}

::-moz-color-swatch,
::-moz-focus-inner {
border: 0;
}

::-moz-focus-inner {
padding: 0;
}

.hide {
display: none;
}